<h1>Battle!</h1>
<h2>Sign in to play</h2>
<form action="/names" method="post">
 <p>
   <label for="p1_name">Player 1 name:</label>
   <input type="text" name="p1_name" />
 </p>
 <p>
   <label for="p2_name">Player 2 name:</label>
   <input type="text" name="p2_name" />
 </p>
 <input type="submit" value="Submit">
</form>
