<h1><%= @game.name_player_1 %> vs. <%= @game.name_player_2 %></h1>

<body>
  <%= @game.name_player_2 %> HP: <%= @game.health_player_2 %>
</body>

<form action="/attack">
  <input type="submit" value="Attack">
</form>
