<div>

  <p>
    <%= @game.player1.name %>
    <%= @game.player1.hit_points %>
  </p>
  <p>
    <%= @game.player2.name %>
    <%= @game.player2.hit_points %>
  </p>


<form action='/attack'>
  <input type="submit" value="Attack!">
</form>

</div>
